# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
.venv/
venv/

# ===============================
# Data files (large files)
# ===============================
*.csv
*.parquet
*.csv.gz

# ===============================
# Terraform
# ===============================
.terraform/
*.tfstate
*.tfstate.backup

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Logs
# ===============================
*.log

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
